<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="username"></input>
    <input type="password" placeholder="Password" name="password"></input>
    <input type="submit"></input>
</form>