<h1>Welcome, to the friends Page!</h1>
<h3>Here are your friends: </h3>

<% for(var i=0;i<friendsList.length; i++) { %>

<li><%= friendsList[i]%></li>

<% } %>
<form action="/addFriend" method="POST">
    <input type="text" name="friendName" placeholder="Enter the name"></input>
    <input type="submit" ></input>
</form>