<h1>Welcome, to the home page</h1>
<br>
<br>
<form action="/results" method="GET">
    <input type="text" placeholder="Enter the keyword" name="item"></input>
    <input type="submit"></input>
</form>