<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Welcome to the Camp Grounds Home Page!</h2>
        <div style="width:30%; margin:25px auto;">
        <form action="/campGrounds/new" method="POST">
            <div class="form-group">
            <input class="form-control" type="text" name="campground[name]" placeholder="Enter the name" ></input>
            </div>
            <div class="form-group">
            <input class="form-control" type="text" name="campground[image]" placeholder="Enter the image url" ></input>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="campground[descrtipiton]" placeholder="Enter description"></textarea>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit"></input>
        </form>
        </div>
    </div>
    

<% cgs.forEach(function(cgs){ %>
    <li><%= cgs.name %></li>
<% }) %>

</div>
<% include ../partials/footer %>