<% include partials/header %>
<div class="container">
    <h1 class="jumbotron">
    Welcome, to YelpCamp!<br>
    <a class="btn btn-primary btn-large" href="/campGrounds/new">Add a new Camp Ground</a>
    </h1>
</div>


<% include partials/footer %>